.check_body {
  /*padding: 0px 30px 30px 80px;*/
  padding:auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;

}
.choice-line{
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.choice  {
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;

}


.i{
  font-family: "Times New Roman", Georgia, Serif;
}

.choice-line label{
  display:block;
}

.choice-name {
	padding-bottom: 12px;
	padding-top:12px;
	font-size:25px;
	font-weight: bold;

}

.description {
	color: rgba(125,125,125,0.9);
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;

}

.inner-choice{
	  padding-bottom: 12px;
  	  border-bottom: 1px solid #eee;
  	  display: inline;
}

/*.inline-choice-continer{
	display: inline-block;
}*/

.inline-choice{
	display: inline-block;
	padding-right: 10%;
}

.multi-choice{
  display: inline;
  background-color: red;
  padding-right: 10%;
}

label{
  padding-right: 1.5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
    border: 1px solid #dddddd;
}



.hotDrink-column-1{
  width: 25%;
}
.hotDrink-column-2{
  width: 25%;
}
.hotDrink-column-3{
  width: 25%;
}
.hotDrink-column-4{
  width: 25%;
}

.codeDrink-column-1{
  width:33%;
}
.codeDrink-column-2{
  width:33%;
}
.codeDrink-column-3{
  width:33%;
}

.coldDrink-column-1{
  width: 50%;
}
.coldDrink-column-2{
  width: 50%;
}
