<!-- Header -->
		<header id="fh5co-header" role="banner">
			
			<!-- Logo -->
			
				<!-- <a href="index.html">
					<img src="images/logo.png">
				</a> -->

		
			
			<!-- Logo -->
			<div class="container">
					<div class="row">
					<div id ="osu-hat" >
						<img src="/images/logo.svg" alt="Oregon State Univeristy" class="osu-hat-class">
					</div>
						<div class="col-md-12">
							<div class="owl-carousel owl-carousel-fullwidth">
						    <div class="item"><img src="/images/slide_1.png" alt="image"></div>
						    <div class="item"><img src="/images/slide_2.png" alt="image"></div>
						    <div class="item"><img src="/images/slide_3.png" alt="image"></div>
							</div>
						</div>
					</div>
				</div> 

			</div>
			<!-- Logo -->
			
			<!-- Mobile Toggle Menu Button -->
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			
			<!-- Main Nav -->
			<div id="fh5co-main-nav">
			<nav id="fh5co-nav" role="navigation">
				<ul>
					<li >
						<a href="index">Home</a>
					</li>
					<li class="active">
						<a href="drink">Drink</a>
					</li>
					<li>
						<a href="sandwich">sandwich</a>
					</li>

					<li>
						<a href="salad">salad</a>
					</li>

					<li>
						<a href="good_eat">good eat</a>
					</li>

					<li>
						<a href="breakfast_sandwiches_burritos">burritos</a>
					</li>

					<li>
						<a href="breakfast">Breakfast</a>
					</li>

					<li>
						<button  id="popUp-login-box">{{userName}}</button> 
					</li>
						
					
				</ul>
			</nav>
			</div>
			<!-- Main Nav -->
		</header>
		<!-- Header -->