<!-- user login part -->
		<div id="user-login-box" class = "hidden">
				<div >
					<img src="images/osuBeavers.jpg" class="login-beaver-image"><p class="user-login-greeting">Login Beavers!</p>
				</div>
				<button type="button" id="login-close-button">&times;</button>
				<div class="user-input-forms">
					<form action="" method="get" name="register">
						<input name="fullname" type="text" value="Enter your OSU ID..."  onClick="border: 1px solid #30a8da;" id="username"/>
						<input name="email" type="text" value="Enter your email address..."  onClick="border: 1px solid #30a8da;" id="mail"/>
						<input name="password" type="password" value="Enter a password..." onClick="border: 1px solid #30a8da;" id="password"/>
					</form>
				</div>

				<button class="create-account user-lonin-button" >Create Account</button>
				<button class="login-account user-lonin-button" >Login</button>
		</div>
<!-- end of user login part -->