{{>header_index}}


<!-- Main -->
		<main role="main">

				
				<!-- Features -->
				<div class="fh5co-features">
					<div class="container">
						<div class="fh5co-section-title text-center">
							<h2 class="fh5co-title">Create your own food!</h2>
						</div>
						<div class="fh5co-spacer fh5co-spacer-sm"></div>
						<div class="row">

							<div class="col-md-4 col-sm-6 fh5co-feature text-center" >
								<span class="fh5co-feature-icon">
									<i class="icon-wallet"></i>
								</span>
								
								<button id ="price-list-button" class="fh5co-feature-title">Price List</button> 
								<p>The price list of the food we provide</p>
							</div>
							<div class="col-md-4 col-sm-6 fh5co-feature text-center" >
								<span class="fh5co-feature-icon">
									<i class="icon-book"></i>
								</span>
								<button id ="about-ecafe-button" class="fh5co-feature-title">About E.cafe</button> 
								<p>The information about Nvidia e.cafe </p>
							</div>

							<div class="col-md-4 col-sm-6 fh5co-feature text-center" >
								<span class="fh5co-feature-icon">
									<i class="icon-creative-cloud"></i>
								</span>
								<button id ="development-team-button" class="fh5co-feature-title">Development Team</button> 
								<p>The info about the development team</p>
							</div>

							

						</div>
					</div>
				</div>



							<!-- <iframe src="good_eat.html"  id="iframe-price-list" style="padding:auto;">
								<p>iframes are not supported by your browser.</p>
							</iframe> -->

							<!-- <iframe src="good_eat.html" width="400" height="150" id="iframe-about">
								<p>iframes are not supported by your browser.</p>
							</iframe>

							<iframe src="good_eat.html" width="400" height="150" id="iframe-team">
								<p>iframes are not supported by your browser.</p>
							</iframe> -->
				<!-- Features -->

				<!-- <div class="fh5co-spacer fh5co-spacer-lg"></div> -->
				
				<!-- Section Half -->

				<!-- Section Half -->

				<div id="layer-photos" class="layer-photos">
				  <img layer-pid="l1" layer-src="images/l1.png" src="images/l1.png" alt="price 1">
				  <img layer-pid="l2" layer-src="images/l2.png" src="images/l2.png" alt="price 2">
				  <img layer-pid="l3" layer-src="images/l3.png" src="images/l3.png" alt="price 3">
				</div>				



</main>
<!-- Main -->
