{{>header_salad}}


		<!-- user login part -->
		<div id="user-login-box" class = "hidden">
				<div >
					<img src="images/osuBeavers.jpg" class="login-beaver-image"><p class="user-login-greeting">Login Beavers!</p>
				</div>
				<button type="button" id="login-close-button">&times;</button>
				<div class="user-input-forms">
					<form action="" method="get" name="register">
						<input name="fullname" type="text" value="Enter your OSU ID..."  onClick="border: 1px solid #30a8da;" id="username"/>
						<input name="email" type="text" value="Enter your email address..."  onClick="border: 1px solid #30a8da;" id="mail"/>
						<input name="password" type="password" value="Enter a password..." onClick="border: 1px solid #30a8da;" id="password"/>
					</form>
				</div>

				<button class="create-account user-lonin-button" >Create Account</button>
				<button class="login-account user-lonin-button" >Login</button>
		</div>
		<!-- end of user login part -->
			
		<!-- Order food part -->
		<button type="button" id="create-order-button">
				<i id="create-order-icon" class="fa fa-cart-plus" aria-hidden="true"></i>
				<p id="order-meal">Order</p>

				<!-- <div id="create-order-icon">
					<i class="fa fa-cart-plus" aria-hidden="true"></i>
					<p id="order-meal">Order</p>
				</div> -->
				
		</button>
		<!-- end of Order food part -->

		



		<!-- Main -->
		<main role="main">


				
				<!-- Features -->
				<div class="fh5co-features">
					<div class="container">
						<div class="fh5co-section-title text-center">
							<h2 class="fh5co-title">BUILD YOUR OWN SALAD!</h2>
						</div>
						<div class="fh5co-spacer fh5co-spacer-sm"></div>
						  
						<div class = "check_body">
							<form method="post" action="/">


							<div class = "choice">
							  <div >
							    <div class = "choice-name">Food Restrictions</div>
							  </div>
							    <input id="celiac" type="checkbox" name="restriction" value="celiac">
							    <label for="celiac">Celiac</label>

							    <input id="nuts" type="checkbox" name="restriction" value="nuts">
							    <label for="nuts">Nuts</label>

							    <input id="vegan" type="checkbox" name="restriction" value="vegan">
							    <label for="vegan">Vegan</label>
							    <p class = "i"><I> We provide gluten free and nut free options, however we are not a gluten or nut free facility.</I></p>
							  </div>

							<div class = "choice-line">
							  <div class = "choice-name">Choose Your Meal</div>
					
							<label>
							    <input type="radio" id="salad-whole-deluxe" name="salad-meal" />
							    WHOLE DELUXE<span>[$6.95]</span>: <span class="description">2 Proteins, 2 Cheeses, Unlimited Produce + Toppings</span>
							</label>
							<label>
							    <input type="radio" id="salad-whole-basic" name="salad-meal" />
							    WHOLE BASIC<span>[$5.95]</span>: <span class="description">2 Proteins, 2 Cheeses, 4 Produce + 3 Toppings</span>
							</label>

							<label>
							    <input type="radio" id="salad-half" name="salad-meal" />
							    HALF<span>[$3.50]</span>: <span class="description">1 Proteins, 1 Cheeses, 4 Produce, 1 Topping(1/2 Portions)</span>
							</label>


							</div>

							<div class = "choice">
							  <div class = "choice-name">PRODUCE:</div>
							  <label >
							    <input type="checkbox" id="salad-cucumber" name="salad-produce" value ="cucumber "/>
							    Cucumber
							</label>
							<label >
							    <input type="checkbox" id="salad-bellpepper" name="salad-produce" value ="bellpepper "/>
							    Bell Pepper
							</label>
							<label >
							    <input type="checkbox" id="salad-tomatoes" name="salad-produce" value ="tomatoes "/>
							    Tomatoes
							</label>
							<label >
							    <input type="checkbox" id="salad-pickles" name="salad-produce" value ="pickles "/>
							    Pickles
							</label>
							<label >
							    <input type="checkbox" id="salad-olives" name="salad-produce" value ="olives "/>
							    Olives
							</label>
							<label >
							    <input type="checkbox" id="salad-pepperoncini" name="salad-produce" value ="pepperoncini "/>
							    Pepperoncini
							</label>
							<label >
							    <input type="checkbox" id="salad-onions" name="salad-produce" value ="onions "/>
							    Onions
							</label>
							</div>





							<div class = "choice">
							  <div class = "choice-name">CHEESE:</div>
							  <label >
							    <input type="checkbox" id="salad-cheddar" name="salad-cheese" value ="cheddar"/>
							    Cheddar
							</label>
							<label >
							    <input type="checkbox" id="salad-swiss" name="salad-cheese" value ="swiss "/>
							    Swiss
							</label>
							<label >
							    <input type="checkbox" id="salad-provolone" name="salad-cheese" value ="provolone"/>
							    Provolone
							</label>
							<label >
							    <input type="checkbox" id="salad-pepper-jack" name="salad-cheese" value ="pepper-jack"/>
							    Pepper Jack
							</label>
							<label >
							    <input type="checkbox" id="salad-feta" name="salad-cheese" value ="feta"/>
							    Feta
							</label>
							<label >
							    <input type="checkbox" id="salad-asiago-romano-parmesean" name="salad-cheese" value ="asiago-romano-parmesean"/>
							    Asiago-Romano-Parmesean
							</label>
							</div>



							<div class = "choice">
							  <div class = "choice-name">PROTEIN:</div>
							  <label >
							    <input type="checkbox" id="salad-turkey" name="salad-protein" value ="turkey"/>
							    Turkey
							</label>
							<label >
							    <input type="checkbox" id="salad-chicken" name="salad-protein" value ="chicken"/>
							    Chicken
							</label>
							<label >
							    <input type="checkbox" id="salad-toby's-tofu-contains-eggs" name="salad-protein" value ="toby's-tofu-contains-eggs"/>
							    Toby's Tofu(contains eggs)
							</label>
							<label >
							    <input type="checkbox" id="salad-toby's-tofu-lite-vegan" name="salad-protein" value ="toby's-tofu-lite-vegan"/>
							    Toby's Tofu Lite(Vegan)
							</label>
							<label >
							    <input type="checkbox" id="salad-egg-salad" name="salad-protein" value ="egg-salad"/>
							    Egg Salad
							</label>
							<label >
							    <input type="checkbox" id="salad-tuna" name="salad-protein" value ="tuna"/>
							    Tuna
							</label>
							<label >
							    <input type="checkbox" id="salad-hummus" name="salad-protein" value ="hummus"/>
							    Hummus
							</label>
							<label >
							    <input type="checkbox" id="salad-fiesta-salad-vegan" name="salad-protein" value ="fiesta-salad-vegan"/>
							    Fiesta Salad(Vegan)
							</label>
							<label >
							    <input type="checkbox" id="salad-ham" name="salad-protein" value ="ham"/>
							    Ham
							</label>
							<label >
							    <input type="checkbox" id="salad-salami" name="salad-protein" value ="salami"/>
							    Salami
							</label>
							<label >
							    <input type="checkbox" id="salad-bacon-bits" name="salad-protein" value ="bacon-bits"/>
							    Bacon Bits
							</label>
							</div>



							<div class = "choice">
							  <div class = "choice-name">TOPPINGS:</div>
							  <label >
							    <input type="checkbox" id="salad-croutons" name="salad-topping" value ="croutons"/>
							    Croutons
							</label>
							<label >
							    <input type="checkbox" id="salad-sunflower-seeds" name="salad-topping" value ="sunflower-seeds"/>
							    Sunflower Seeds
							</label>
							<label >
							    <input type="checkbox" id="salad-graisins" name="salad-topping" value ="graisins"/>
							    Graisins
							</label>
							</div>


							<div class = "choice">
							  <div class = "choice-name">DRESSINGS:</div>
							  <label >
							    <input type="checkbox" id="salad-ranch" name="salad-dressings" value ="ranch"/>
							    Ranch
							</label>
							<label >
							    <input type="checkbox" id="salad-mustard" name="salad-dressings" value ="honey-mustard"/>
							    Honey Mustard
							</label>
							<label >
							    <input type="checkbox" id="salad-balsamic-vinaigrette" name="salad-dressings" value ="balsamic-vinaigrette"/>
							    Balsamic Vinaigrette
							</label>
							<label >
							    <input type="checkbox" id="salad-caesar" name="salad-dressings" value ="caesar"/>
							    Caesar
							</label>
							</div>

							<div class = "choice">
							  <div class = "choice-name">EXTRAS:</div>
							  <label >
							    <input type="checkbox" id="salad-cucumber" name="salad-extra" value ="basil-pesto"/>
							    Basil Pesto + 1.00
							</label>
							<label >
							    <input type="checkbox" id="salad-bellpepper" name="salad-extra" value ="guacamole"/>
							    Guacamole + 1.00
							</label>
							<label >
							    <input type="checkbox" id="salad-tomatoes" name="salad-extra" value ="extra-protein"/>
							    Extra Protein + 1.25
							</label>
							<label >
							    <input type="checkbox" id="salad-pickles" name="salad-extra" value ="extra-dressing"/>
							    Extra Dressing + .60
							</label>
							<label >
							    <input type="checkbox" id="salad-olives" name="salad-extra" value ="extra-topping"/>
							    Extra Topping + .50
							</label>
							<label >
							    <input type="checkbox" id="salad-pepperoncini" name="salad-extra" value ="extra-produce"/>
							    Extra Produce + .80
							</label>
							</div>


							<div class = "choice">
								<span class = "inline-choice">

								  <div class = "choice-name">Soup</div>
								  <input id="soup-cup" type="radio" name="soup" value="soup-cup">
								  <label for="soup">Cup</label>

								  <input id="soup-bowl" type="radio" name="soup" value="soup-bowl">
								  <label for="soup">Bowl</label>
								</span>									
							</div>



							


							</form>
							</div>
					</div>
				</div>
				<!-- Features -->
				

		</main>
		<!-- Main -->
		



