body {
  margin: 60px 30px 30px 130px;
  padding: 1px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 850px;
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}


.column-labels{
  font-size: 20px;
  margin-bottom: 40px;

}

.remove-product:hover {
    background-color: grey;
  }
  .product-image {
    float: left;
    width: 20%;
  }

  .product-details {
    float: left;
    width: 37%;

  }
  .product-description{
    color:grey;

  }

  .product-price {
    float: left;
    width: 12%;
    padding-left: 40px;
  }

  .product-quantity {
    float: left;
    width: 10%;
  }

  .product-removal {
    float: left;
    width: 9%;
    padding-left: 40px;
  }

.product-line-price {
  float: right;
  width: 12%;

}

/*need to use clear both otherwise it is disordered*/
.product{
  clear:both;
}

.product-quantity input {
  width: 30px;
}

.remove-product {
    border: 0;
    background-color: red;
    color: white;
    font-size: 13px;
  }


.totals{
  margin-top: 100px;
  float:right;
  clear:both;
  font-size: 18px;
}

.checkout {
  margin-top: 15px;
  border: 0;
  background-color: green;
  color: white;
  font-size: 18px;
}
.checkout:hover{
  color:yellow;
}
